<router-outlet></router-outlet>
<div class="register-container">
    
    <div class="form-box">
        <div class="back">
            <a href="/login">Voltar para Login</a>
        </div>
        
        <h1>Criar Conta</h1>
        <form>
            <div class="input-group">
                <label for="register-email">Email</label>
                <input type="email" id="register-email" placeholder="Digite seu email" required />
            </div>
            <div class="input-group">
                <label for="register-password">Senha</label>
                <input type="password" id="register-password" placeholder="Crie uma senha" required />
            </div>
            <a href="/home" class="register-button">Criar Conta</a>
        </form>
    </div>
</div>
