<router-outlet></router-outlet>
<div class="home-container">
    <h1>Confira nosso cardápio</h1>
    <div class="cart">

        <a href="/login">Voltar para Login</a>
        
    </div>


    <h1 class="title">Restaurante IFCE</h1>

    <div class="menu">
        <h2>Cardápio</h2>
        <div class="menu-item">
            <div class="item-details">
                <p class="item-name">Pizza Margherita</p>
                <p class="item-price">R$ 25,00</p>
            </div>
            <button class="add-to-cart">Adicionar ao Carrinho</button>
        </div>

        <div class="menu-item">
            <div class="item-details">
                <p class="item-name">Hambúrguer Artesanal</p>
                <p class="item-price">R$ 18,50</p>
            </div>
            <button class="add-to-cart">Adicionar ao Carrinho</button>
        </div>

        <div class="menu-item">
            <div class="item-details">
                <p class="item-name">Salada Caesar</p>
                <p class="item-price">R$ 15,00</p>
            </div>
            <button class="add-to-cart">Adicionar ao Carrinho</button>
        </div>

        <div class="menu-item">
            <div class="item-details">
                <p class="item-name">Sushi Combo</p>
                <p class="item-price">R$ 40,00</p>
            </div>
            <button class="add-to-cart">Adicionar ao Carrinho</button>
        </div>

        <div class="menu-item">
            <div class="item-details">
                <p class="item-name">Bolo de Chocolate</p>
                <p class="item-price">R$ 10,00</p>
            </div>
            <button class="add-to-cart">Adicionar ao Carrinho</button>
        </div>
    </div>
</div>

