<router-outlet></router-outlet>



<div class="form-container">
   
    <h1>RESTAURANTE IFCE</h1>
    <form>
        <div class="input-group">
            <label for="login-email">Email</label>
            <input type="email" id="login-email" placeholder="Digite seu email">
        </div>
        <div class="input-group">
            <label for="login-password">Senha</label>
            <input type="password" id="login-password" placeholder="Digite sua senha">
        </div>
        <div class="button-group">
            <a href="/home" class="login-button">Entrar</a>
            <a href="/register" class="register-button">Registrar</a>
        </div>
    </form>
</div>


